a {
    text-decoration: none;
    color:red;
    transition: 0.2s;
}

#showImg{
    width: 500px;
    height: 400px;
}

#thumbnail{
    width:200px;
    margin: 10px 10px;
    border-radius: 10px;
}

.button{
    display: block;
}

#cluster-map{
    width: 100%;
    height: 500px;
}

#map{
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
}

#review{
    border-top: 1px solid grey;
    padding-top: 1rem;
    margin-top: 2rem;
}